body {
	background-color: #E5E5E5;
}
body, textarea {
	font-family: helvetica, arial, sans-serif;
}
h1, h2 {
	margin: 0;
}
h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1em;
	margin-top: 1.5em;
}
div.container {
	border: 3px solid #DDD;
	border-radius: 12px;
	width: 32em;
	padding: 1.5em 1.5em;
	margin: 1.5em auto;
	background-color: #FFF;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	margin-bottom: .5em;
}
a, a:visited {
	color: #2E8F28;
}
a.button {
	display: inline-block;
	text-decoration: none;
	background: url(../images/button.png) no-repeat;
	height: 33px;
}
a.button span {
	line-height: 35px;
	display: block;
	background-repeat: no-repeat;
	font-weight: bold;
	color: #FFF;
	padding: 0 18px;
	text-shadow: 0 -1px 0 #374683;
}
textarea {
	width: 98%;
	border-color: #DDD;
}
.note {
	font-size: 80%;
	margin: 0;
	color: #666;
}